{% extends 'base.html' %}
{% load static %}

{% block nomor_tersedia %} 

{% include 'surat_keluar/header/olah_nota_dinas.html' %}


<div class="container-fluid mt-3 text-white" style="">
    <h5 class="text-center">NOMOR TERSEDIA  {{ tanggal | date:'l, d F Y' }}</h5>
    
    <div style="margin-top: -2.5rem; justify-content: space-between; " class="d-flex">

      <form method="POST" action="{% url 'filter_nomor_tersedia' %}">
        <div class="d-flex mb-2 ">   
            {% csrf_token %}
            <input type="date" class="form-select form-select-sm" placeholder="First name" aria-label="First name" name="tanggal" />
            <button class="btn btn-primary btn-sm " type="submit">Cari</button>
          </div>
      </form>

      <div style="justify-content: end;" class="d-flex gap-2">


          <div  class="gap-3">
            <button type="button" class="btn btn-success btn-sm"  data-bs-toggle="modal" data-placement="bottom" title="Tambah Nota Dinas" data-bs-target="#tambah_nota_dinas">TAMBAH NOMOR</button>
          </div>

      </div>
      
    </div>

     
      <table id="tabel_nomor_tersedia" class="table table-striped table-bordered text-white" style="width:100%;  ">
        <thead>
          <tr>
 
            <th class="text-center">No</th>
            <th class="text-center">Tanggal</th>
            <th class="text-center">Nomor Urut</th>
            <th class="text-center">Bon Nomor</th>
            <th class="text-center">Isi Nota Dinas</th>
            
            
          </tr>
        </thead>
        <tbody>
          {% for data in nomor_tersedia %}
            <tr>
              <td class="text-center" >{{ forloop.counter }}</td>
              <td class="text-center">{{ data.tanggal }}</td>
              <td class="text-center">{{ data.no_urut }}</td>
      
              <td class="text-center gap-2"> 
                <button type="button" class="btn btn-primary btn-sm fa-solid fa-file-invoice"  data-bs-toggle="modal" data-placement="bottom" title="Bon Nomor" data-bs-target="#button_bon_nomor_nomor_tersedia{{ data.id }}"></button>
               </td> 

              <td class="text-center gap-2"> 
                <button type="button" class="btn btn-success btn-sm fas fa-edit"  data-bs-toggle="modal" data-placement="bottom" title="Isi Nota Dinas" data-bs-target="#button_isi_nota_dinas_nomor_tersedia{{ data.id }}"></button>
               </td> 
            
              

            </tr>
          {% endfor %}
        </tbody>
      </table>

  </div>

  {% include 'surat_keluar/modal/nota_dinas/nomor_tersedia/bon_nomor.html' %}  
  {% include 'surat_keluar/modal/nota_dinas/nomor_tersedia/tambah_nota_dinas.html' %}  
  {% include 'surat_keluar/modal/nota_dinas/nomor_tersedia/isi_nota_dinas_untuk_no_tersedia.html' %} 


  <div class="container">
    <footer class="">
      <p class="text-center text-muted">
        &copy; 2023 - {% now 'Y' %} By Abdul Rachman <br>
        Bag Datin - Setbaranahan Kemhan
      </p>
    </footer>
  </div>


{% endblock nomor_tersedia %} 





