
{% for data in data_surat %}
  <div class="modal fade" id="xxxxx{{ data.id }}" tabindex="-1" aria-labelledby="delete_kelompok" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="delete_kelompok">Status Disposisi</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <table id="tabel_disposisi" class="table table-striped table-bordered text-white" style="width:100%;  ">
          <thead>
            <tr>
              <th class="text-center">Disposisi</th>
              <th class="text-center">No Agenda</th>
              <th class="text-center">No Surat</th>
              <th class="text-center">Catatan</th>
              <th class="text-center">Files</th>
            </tr>
          </thead>
          <tbody>
    
            {% for data in disposisi %}
            
              <tr>
                <td >{{ data.disposisi }}</td>
                <td>{{ data.no_agenda }}</td>
                <td>{{ data.no_surat }}</td>
                <td>{{ data.catatan }}</td>
    
                <td class="text-center">
                  <div style="margin-left: -15px;">
                    <a class="btn btn-success btn-sm fa fa-file-pdf-o" aria-current="page" title="Files" target="_blank" href="/upload/{{ data.upload_file_disposisi }}"></a>
                  </div>
                </td>
                
              </tr>
            {% endfor %}
          </tbody>
        </table>
         
      </div>
    </div>
  </div>
{% endfor %} 