

  <div class="modal fade" id="tambah_nota_dinas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center" id="staticBackdropLabel">Tambah Nomor Nota Dinas ?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
 
        <form method="POST" action="{% url 'nomor_tersedia_tambah_nomor' %}">
          {% csrf_token %}
            <button type="submit" class="btn btn-success col-12" data-bs-dismiss="modal">Tambah</button>
        </form>
        
      </div>
    </div>
  </div>

