{% comment %}Tambah Disposisi Kabadan{% endcomment %}

{% for data in data_surat %}
  <div class="modal fade" id="tambah_disposisi_kabadan{{ data.id }}" tabindex="-1" aria-labelledby="edit_klasifikasi" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="edit_klasifikasi">DISPOSISI KABADAN</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form action="{% url 'disposisi_kabadan' %}" enctype="multipart/form-data" method="POST" class="was-validated">
          {% csrf_token %}
          <div class="modal-body">
            <div style="margin-left: 3rem;" class="d-flex gap-3 text-center">
              <div class="col-4">
                <label for="inputAddress" class="form-label">NO SURAT</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Input Nomor Surat" name="no_surat" value="{{ data.no_surat }}" required />
              </div>

              <div class="col-3">
                <label for="inputAddress" class="form-label">TANGGAL AGENDA</label>
                <input type="date" class="form-control" id="inputAddress" placeholder="Input Surat Dari" name="tgl_agenda" required />
              </div>

              <div class="col-4">
                <label for="inputAddress" class="form-label">NO AGENDA</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Input Perihal" name="no_agenda" required />
              </div>
            </div>

            <div style="margin-left: 3rem;" class="text-center col-11 mt-3">
              <label for="inputAddress" class="form-label">CATATAN</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Input Perihal" name="catatan" required />
            </div>

            <div style="margin-left: 3rem;" class="mb-3 mt-3 text-center col-11">
              <label for="formFile" class="form-label">UPLOAD DISPOSISI</label>
              <input class="form-control" type="file" accept=".pdf" id="file_input" name="file_disposisi" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Edit SURAT</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endfor %}

{% comment %}edit disposisi kabadan{% endcomment %}

{% for data in disposisi %}
  <div class="modal fade" id="button_edit_olah_disposisi{{ data.id }}" tabindex="-1" aria-labelledby="edit_klasifikasi" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="edit_klasifikasi">DISPOSISI KABADAN</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form action="{% url 'edit_disposisi_kabadan' data.id %}" enctype="multipart/form-data" method="POST" class="was-validated">
          {% csrf_token %}
          <div class="modal-body">
            <div style="margin-left: 3rem;" class="d-flex gap-3 text-center">
              <div class="col-4">
                <label for="inputAddress" class="form-label">NO SURAT</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Input Nomor Surat" name="no_surat" value="{{ data.no_surat }}" required />
              </div>

              <div class="col-3">
                <label for="inputAddress" class="form-label">TANGGAL AGENDA</label>
                <input type="date" class="form-control" id="inputAddress" placeholder="Input Surat Dari" name="tgl_agenda" required />
              </div>

              <div class="col-4">
                <label for="inputAddress" class="form-label">NO AGENDA</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Input Perihal" name="no_agenda" value="{{ data.no_agenda }}" required />
              </div>
            </div>

            <div style="margin-left: 3rem;" class="text-center col-11 mt-3">
              <label for="inputAddress" class="form-label">CATATAN</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Input Perihal" name="catatan" value="{{ data.catatan }}" required />
            </div>

            <div style="margin-left: 3rem;" class="mb-3 mt-3 text-center col-11">
              <label for="formFile" class="form-label">UPLOAD DISPOSISI</label>
              <input class="form-control" type="file" accept=".pdf" id="file_input" name="file_disposisi" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Edit SURAT</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endfor %}
