{% for data in disposisi %}
  <div class="modal fade" id="edit_olah_disposisi{{ data.id }}" tabindex="-1" aria-labelledby="edit_klasifikasi" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="edit_klasifikasi">EDIT DISPOSISI</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form action="{% url 'upload_disposisi'  %}" enctype="multipart/form-data" method="POST" class="was-validated">
          {% csrf_token %}   
          <div class="modal-body">
            
            <div style="margin-left: 3rem;" class="d-flex gap-3 text-center">

                <div class="col-3">
                    <label for="inputAddress" class="form-label">PILIH DISPOSISI</label>
                    <select class="form-select" aria-label="Default select example" id="klasifikasi" name="disposisi" required>
                        <option value="">Disposisi</option>
                        <option value="KABARANAHAN">KABARANAHAN</option>
                        <option value="SEKRETARIAT">SEKRETARIAT</option>
                        <option value="BAGIAN UMUM">BAGIAN UMUM</option>
                    </select>
                </div>

                <div class="col-3">
                  <label for="inputAddress" class="form-label">NO SURAT</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="Input Nomor Surat" name="no_surat" value="{{ data.no_surat}}" readonly required />
                </div>

                <div class="col-5">
                  <label for="inputAddress" class="form-label">NO AGENDA </label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="Input Perihal" name="no_agenda" value="{{ data.no_agenda}}" readonly required />
                </div>
            </div>
          
           <div style="margin-left: 3rem;" class="text-center  col-11 mt-3">
              <label for="inputAddress" class="form-label">CATATAN </label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Input Catatan" name="catatan" required />
          </div>

         

          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Edit SURAT</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endfor %}