
{% for data in data_surat %}
  <div class="modal fade" id="upload_disposisi{{ data.id }}" tabindex="-1" aria-labelledby="edit_klasifikasi" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="edit_klasifikasi">Upload Disposisi</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form action="{% url 'upload_disposisi' %}" enctype="multipart/form-data" method="POST" class="was-validated">
          {% csrf_token %}   
          <div class="modal-body">
            
            <div style="margin-left: 3rem;" class="d-flex gap-3 text-center">

                <div class="col-3">
                    <label for="inputAddress" class="form-label">PILIH DISPOSISI</label>
                    <select class="form-select" aria-label="Default select example" id="klasifikasi" name="disposisi" required >
                        <option value=""></option>
                        <option value="KABARANAHAN">KABARANAHAN</option>
                        <option value="SEKRETARIAT">SEKRETARIAT</option>
                        <option value="BAGIAN UMUM">BAGIAN UMUM</option>
                    </select>
                </div>

              {% comment %} <div class="col-3" > 
                  <label for="inputPassword4" class="form-label">TANGGAL DISPOSISI</label>
                  <input type="date" class="form-select" placeholder="First name" aria-label="First name" name="tgl_disposisi" required />
                </div>  {% endcomment %}


                <div class="col-3">
                  <label for="inputAddress" class="form-label">NO SURAT</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="" name="no_surat" value="{{ data.no_surat}}" readonly required />
                </div> 

                <div class="col-5">
                  <label for="inputAddress" class="form-label">NO AGENDA </label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="" name="no_agenda" value="{{ data.no_agenda}}" readonly required />
                </div> 


            </div>
          
           <div style="margin-left: 3rem;" class=" d-flex  text-center mt-3 gap-4  " >

            <div class="col-11" >
              <label for="inputAddress" class="form-label">CATATAN </label>
              <input type="text" class="form-control" id="inputAddress" placeholder="" name="catatan"  required />
            </div>
              
                
            </div> 
{% comment %} 
          <div style="margin-left: 3rem;" class="mb-3 mt-3 text-center col-11">
            <label for="formFile" class="form-label">UPLOAD DISPOSISI</label>
            <input class="form-control" type="file" accept=".pdf" id="file_input" name="file_name" required />
          </div> {% endcomment %}

          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">TAMBAH</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endfor %}