{% for data in data_surat %}
  <div class="modal fade" id="button_show_disposisi{{ data.id }}" tabindex="-1" aria-labelledby="delete_kelompok" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="delete_kelompok">PILIH DISPOSISI</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form action="" method="POST">
          {% csrf_token %}
          <div class="modal-body">
            <label for="inputAddress" name="test" value="{{ data.no_surat }}" class="form-label">{{ data.no_surat }}</label>
            <button type="submit" class="btn btn-primary" >Hapus</button>

          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Hapus</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endfor %} 