{% extends 'base.html' %}
{% load static %}

{% block error_upload_surat %}
  <div style="margin-top: 15rem;" class="container">
    <div class="card text-center">
      <div style="font-size: 34px;" class="card-header text-warning">Gagal Input Surat !!!!</div>
      <div class="card-body">
        <h3 class="card-title">Dikerenakan terjadi Duplikasi data.</h3>
        <h3 class="card-title">Pastikan No Agenda dan No Surat tidak boleh ada sama !!!</h3>
        <a style="margin-top: 2rem;" href="{% url 'tambah_surat' %}" class="btn btn-primary">Kembali Ke Menu</a>
      </div>
    </div>
  </div>
{% endblock %}
