{% extends 'base.html' %}
{% load static %}

{% block disposisi %}

{% include 'header/olah_disposisi.html' %}

<div class="container-fluid mt-3 text-white" style="">
    <h5 class="text-center">DISPOSISI</h5>

   
        <table id="tabel_disposisi" class="table table-striped table-bordered text-white" style="width:100%;  ">
        <thead>
            <tr>
            <th class="text-center">No</th>
            <th class="text-center">Disposisi</th>
            <th class="text-center">No Agenda</th>
            <th class="text-center">Catatan</th>
            <th class="text-center">Files</th>
            <th class="text-center">Aksi</th>
            </tr>
        </thead>
        <tbody>
         
            {% if disposisi %}
                    {% for data in disposisi %}
                    <tr>
                        <td class="text-center">{{ forloop.counter }}</td>
                        <td>{{ data.disposisi }}</td>
                        <td>{{ data.no_agenda }}</td>
                        <td>{{ data.catatan }}</td>

                        <td class="text-center">
                            <div style="margin-left: -15px;">
                                <a class="btn btn-success btn-sm fa fa-file-pdf-o" aria-current="page" title="Files" target="_blank" href="/upload/{{ data.upload_file_disposisi}}"></a>
                            </div>
                        </td>
                        <td class="text-center gap-2"> 
                          <button type="button" class="btn btn-success btn-sm fas fa-edit"  data-bs-toggle="modal" data-placement="bottom" title="UPDATE" data-bs-target="#edit_olah_disposisi{{ data.id }}"></button>
                          <button type="button" class="btn btn-danger btn-sm fa fa-trash"  data-bs-toggle="modal" data-placement="bottom" title="HAPUS" data-bs-target="#button_hapus_olah_surat{{ data.id }}"></button>
                        </td> 

                    </tr>
                    {% endfor %}
            {% endif %}
        </tbody>
        </table>
  </div>

{% include 'modal/disposisi/olah_disposisi.html' %} 

  <div class="container">
    <footer class="">
      <p class="text-center text-muted">
        &copy; 2023 - {% now 'Y' %} By Abdul Rachman - SetBaranahan
      </p>
    </footer>
  </div>



{% endblock disposisi %}





