{% extends 'base.html' %}
{% load static %}


{% block tambah_surat %}

{% include 'header/main_header.html' %}


<div class="container card mt-5 text-center ">
    <div style="font-size: 20px;" class="card-header">
      TAMBAH SURAT
    </div>
    <div class="card-body">
      
        <form class="row g-3 needs-validation" novalidate>

            <div class="col-3 ">
              <label for="inputEmail4" class="form-label">KLASIFIKASI</label>
              <select class="form-select" aria-label="Default select example" name="klasifikasi" required> 
                <option value="">KLASIFIKASI</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          
            <div class="col-3">
              <label for="inputPassword4" class="form-label">TANGGAL AGENDA</label>
              <input type="date" class="form-select" placeholder="First name" aria-label="First name" name="tanggal_agenda" required >
            </div>

            <div class="col-3">
              <label for="inputAddress" class="form-label">NO AGENDA</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Input Nomor Agenda" name="no_agenda" required>
            </div>

            <div class="col-md-3">
              <label for="inputPassword4" class="form-label">TANGGAL SURAT</label>
              <input type="date" class="form-select" placeholder="First name" aria-label="First name" name="tanggal_surat" required>
            </div>

            <div class="col-6">
              <label for="inputAddress" class="form-label">SURAT DARI</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Input Surat Dari" name="input_surat" required>
            </div>

            <div class="col-6">
              <label for="inputAddress" class="form-label">PERIHAL</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Input Perihal" name="perihal" required >
            </div>

            <div class="mb-3">
              <label for="formFile" class="form-label">UPLOAD FILES</label>
              <input class="form-control " type="file" accept=".pdf" id="file_input" name="file_name" required />
            </div>
            
            <div class="col-12">
              <button type="submit" class="btn btn-primary">TAMBAH SURAT</button>
            </div>
          </form>



    </div>
  </div>
  

{% endblock tambah_surat %}