
{% for data in surat_biasa_nomor_tersedia %}
  <div class="modal fade" id="button_surat_biasa_nomor_tersedia_edit_bon{{data.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-center" id="staticBackdropLabel">BON NOMOR </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
  
          <div class="modal-body">
                
            <form action="{% url 'surat_biasa_nomor_tersedia_isi_bon_nomor' data.id %}" method="POST"  class="was-validated row g-3 text-center" >
              {% csrf_token %}
               
                <div class="col-12">
                  <label for="inputAddress" class="form-label">BAGIAN</label>
                  <input type="text" class="form-control" name="bagian" value="{{ data.bagian }}" required >
                </div>
                <div class="col-12">
                  <label for="inputAddress2" class="form-label">CATATAN</label>
                  <input type="text" class="form-control" name="catatan" value="{{ data.catatan }}" required >
                </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">SIMPAN</button>
                </div>
                </form>
          
            </div>
      </div>
    </div>
{% endfor %} 
