{% extends 'base.html' %}
{% load static %}

{% block filter_biasa_no_tersedia %} 

{% include 'surat_keluar/header/biasa/olah_surat_biasa.html' %} 


<div class="container-fluid mt-3 text-white" style="">
    <h5 class="text-center">NOMOR TERSEDIA {{ tanggal_nomor_tersedia | date:'l, d F Y' }}</h5>
    
    <div style="margin-top: -2.5rem; justify-content: space-between; " class="d-flex">

      <form method="POST" action="">
        <div class="d-flex mb-2 ">   
            {% csrf_token %}
            <input type="date" class="form-select form-select-sm" placeholder="First name" aria-label="First name" name="tanggal" />
            <button class="btn btn-primary btn-sm " type="submit">Cari</button>
          </div>
      </form>

      <div style="justify-content: end;" class="d-flex gap-2">


          <div  class="gap-3">
            <button type="button" class="btn btn-success btn-sm"  data-bs-toggle="modal" data-placement="bottom" title="Tambah Nota Dinas" data-bs-target="#tambah_nomor_surat_biasa">TAMBAH NOMOR</button>
          </div>

      </div>
      
    </div>

     
      <table id="tabel_surat_biasa_nomor_tersedia" class="table table-striped table-bordered text-white" style="width:100%;  ">
        <thead>
          <tr>

            <th class="text-center">No</th>
            <th class="text-center">Tanggal</th>
            <th class="text-center">Nomor Urut</th>
            <th class="text-center">Isi Bon Nomor</th>
            <th class="text-center">Isi Surat Biasa</th>
            
          </tr>
        </thead>
        <tbody>
          {% for data in surat_biasa_nomor_tersedia %}
            <tr>
              <td class="text-center" >{{ forloop.counter }}</td>
              <td class="text-center">{{ data.tanggal }}</td>
              <td class="text-center">{{ data.no_urut }}</td>

              <td class="text-center gap-2"> 
                <button type="button" class="btn btn-danger btn-sm fa-solid fa-file-invoice"  data-bs-toggle="modal" data-placement="bottom" title="Edit" data-bs-target="#button_surat_biasa_nomor_tersedia_edit_bon{{ data.id }}"></button>
               </td> 
    
              <td class="text-center gap-2"> 
                <button type="button" class="btn btn-success btn-sm fas fa-edit"  data-bs-toggle="modal" data-placement="bottom" title="Edit" data-bs-target="#button_surat_biasa_nomor_tersedia_isi_surat_biasa{{ data.id }}"></button>
               </td> 
  
            </tr>
          {% endfor %}
        </tbody>
      </table>

  </div>

{% include 'surat_keluar/modal/biasa/nomor_tersedia/tambah_surat_biasa.html' %}
{% include 'surat_keluar/modal/biasa/nomor_tersedia/isi_surat_biasa.html' %}  
{% include 'surat_keluar/modal/biasa/nomor_tersedia/edit_bon_nomor.html' %} 


  <div class="container">
    <footer class="">
      <p class="text-center text-muted">
        &copy; 2023 - {% now 'Y' %} By Abdul Rachman <br>
        Bag Datin - Setbaranahan Kemhan
      </p>
    </footer>
  </div>


{% endblock filter_biasa_no_tersedia %} 





