{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap5.min.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/kemhan_logo.png' %}">

    <title>{{ page_title }}</title>
</head>
<body style="font-family: Oswald, Helvetica, Arial, sans-serif!important; font-size: 14px;" class="text-light">

            {% block index %}{% endblock index %} 
            {% block login %}{% endblock login %}  
            {% block tambah_surat %}{% endblock tambah_surat %}
            {% block olah_surat %}{% endblock olah_surat %}
            {% block disposisi %}{% endblock disposisi %}
            {% block olah_disposisi %}{% endblock olah_disposisi %}
            {% block tespdf %}{% endblock tespdf %}
            {% block test %}{% endblock test %}


            <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/font_awsome.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/jquery-3.7.1.slim.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script> 
            <script type="text/javascript" src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script> 

            
            <script>

                $(document).ready(function() {
                    // Initialize DataTables
                    var table = $('#tabel_index').DataTable();
                
                    // Add event listeners to the select elements
                    $('#klasifikasi' ).on('change', function() {
                        // Get the selected values from both select options
                        var selectedValue = $('#klasifikasi').val();
                        var selectedValue1 = $('#tgl_agenda').val();
                
                        // Apply the filters to the DataTable
                        table.columns(0).search(selectedValue).draw();
                        
                        });
                    });

            </script>
            
</body>
</html>