{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" >
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap5.min.css' %}">
    <script type="text/javascript" src="{% static 'js/chart.min.js' %}"></script> 
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/kemhan_logo.png' %}">

    <title>{{ page_title }}</title>
    <style>
        #loader {
            border: 4px solid rgba(0, 0, 0, 0.1);
            border-left: 4px solid #3498db; /* Change the color as needed */
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 1s linear infinite;
            margin-right: 10px;
            display: none;
        }
    
        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
          
    </style>


</head>
<body style="font-family: Oswald, Helvetica, Arial, sans-serif!important; font-size: 14px;" class="text-light">


            {% block index %}{% endblock index %} 
            {% block login %}{% endblock login %}  
            {% block tambah_surat %}{% endblock tambah_surat %}
            {% block olah_surat %}{% endblock olah_surat %}
            {% block disposisi %}{% endblock disposisi %}
            {% block olah_disposisi %}{% endblock olah_disposisi %}
            {% block tespdf %}{% endblock tespdf %}
            {% block home %}{% endblock home %}
            {% block filter_disposisi %}{% endblock filter_disposisi %}
            {% block duplikat_surat %}{% endblock duplikat_surat %}
            {% block error_upload_surat %}{% endblock error_upload_surat %}
            {% block error404 %}{% endblock error404 %}
            {% block laporan_harian %}{% endblock laporan_harian %}
            {% block laporan_bulanan %}{% endblock laporan_bulanan %}
            {% block laporan_tahunan %}{% endblock laporan_tahunan %}

            {% block surat_keluar %}{% endblock surat_keluar %}
           

            {% block nota_dinas %}{% endblock nota_dinas %}
            {% block olah_nota_dinas %}{% endblock olah_nota_dinas %}
            {% block bon_nomor %}{% endblock bon_nomor %}
            {% block no_tersedia %}{% endblock no_tersedia %}
            {% block bon_nomor_filter %}{% endblock bon_nomor_filter %}
            {% block filter_tanggal_no_tersedia %}{% endblock filter_tanggal_no_tersedia %}
            {% block filter_tanggal_bon_nomor %}{% endblock filter_tanggal_bon_nomor %}
            {% block filter_tanggal_olah_nota_dinas %}{% endblock filter_tanggal_olah_nota_dinas %}

   
            <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/font_awsome.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/jquery-3.7.1.slim.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script> 
            <script type="text/javascript" src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script> 


            {% comment %} <script>
                // Display the loader
                document.getElementById('loader').style.display = 'inline-block';
            
                // Simulate an asynchronous action (e.g., fetching data)
                setTimeout(function() {
                  // Hide the loader when the action is complete
                  document.getElementById('loader').style.display = 'none';
                  // You can update the content or perform other actions here
                //  document.getElementById('content').innerHTML += '<p>Async action complete!</p>';
                }, 3000); // Simulating a 3-second delay
            </script> {% endcomment %}

            <script>
                  var li_items = document.querySelectorAll(".accordion_wrap ul li");
                  var ul = document.querySelector(".accordion_wrap ul");

                  li_items.forEach(function(item){
                    item.addEventListener("click", function(){
                      li_items.forEach(function(item){
                        item.classList.remove("active");
                      })
                      item.classList.add("active");
                    });
                  });

                  ul.addEventListener("mouseleave", function(){
                    li_items.forEach(function(item){
                      item.classList.remove("active");
                    })
                  });
            </script>


            <script>
                  new DataTable('#tabel_nota_dinas',{
                                       
                  });
                  new DataTable('#tabel_olah_tabel_nota_dinas',{
          
                  });
                  new DataTable('#tabel_bon_nomor',{
          
                  });
                  new DataTable('#tabel_no_tersedia',{
          
                  });
                  new DataTable('#tabel_filter_bon_nomor',{
          
                  });

            </script>

         
            
</body>
</html>