{% load static %}

<div>
  <nav class="navbar bg-body-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home'%}">
        <img src="{% static 'img/kemhan_logo.png' %}" alt="KEMHAN Logo" width="45" height="45" />
        <span>ARSIP TU SETBARANAHAN</span>
      </a>

      <ul class="nav nav-underline">

        <li class="nav-item">
            <a class="nav-link  fa fa-arrow-left " href="{% url 'home' %}"></a>
        </li>

      </ul>
    </div>
  </nav>
</div>



