{% load static %}

<div>
  <nav class="navbar bg-body-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'surat_keluar'%}">
        <img src="{% static 'img/kemhan_logo.png' %}" alt="KEMHAN Logo" width="45" height="45" />
        <span>ARSIP TU SETBARANAHAN</span>
      </a>

      <ul class="nav nav-underline fw-bold ">

        <li class="nav-item mt-1">
            <a class="nav-link  fa fa-arrow-left " href="{% url 'surat_keluar' %}"></a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if request.path == '/surat/surat_keluar/nota_dinas/' %} active {% endif %}" href="{% url 'nota_dinas' %}">Nota Dinas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if request.path == '/surat/surat_keluar/bon_nomor/' %} active {% endif %}" href="{% url 'bon_nomor' %}">Bon Nomor</a>
        </li> 

        <li class="nav-item">
          <a class="nav-link {% if request.path == '/surat/surat_keluar/olah_nota_dinas/' %} active {% endif %}" href="{% url 'olah_nota_dinas' %}">Olah Nota Dinas</a>
        </li>

      </ul>
    </div>
  </nav>
</div>





