{% load static %}

<div>
  <nav class="navbar bg-body-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'surat_keluar'%}">
        <img src="{% static 'img/kemhan_logo.png' %}" alt="KEMHAN Logo" width="45" height="45" />
        <span>ARSIP TU SETBARANAHAN</span>
      </a>

      <ul class="nav nav-underline fw-bold ">

        <li class="nav-item mt-1">
            <a class="nav-link  fa fa-arrow-left " href="{% url 'surat_keluar' %}"></a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if request.path == '/surat/surat_keluar/tanggal_nota_dinas/' %} active {% endif %}" href="">Nota Dinas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="{% url 'surat_keluar' %}">Olah Nota Dinas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'surat_keluar' %}">Bon Nomor</a>
        </li>
      </ul>
    </div>
  </nav>
</div>



